body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40em;
    max-width: 80vw;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card div {
    display: flex;
}

.card div .tablelike-content {
    width: 50%; 
    align-content: center;
}

.card div input {
    margin: 1em;
}
